/*anime-page*/
.anime-wrapper{
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 30px;
  margin-bottom: 50px;
  @media (min-width: 320px) and (max-width: 1200px){
    grid-template-columns: 1fr;
    gap: 35px;
  }
}
.anime-page{

}
.anime-slider{
  display: flex;
  flex-direction: column;
  margin-top: 125px;
  @media (min-width: 320px) and (max-width: 1200px){
 display: none;
  }
  &__title{
    font-weight: 600;
    font-size: 28px;
    color: #242228;
    margin-bottom: 30px;
    &--song{
        margin-bottom: 42px;
    }
  }

}
.anime-list{
  display: flex;
  flex-direction: column;
  gap: 5px;
  @media(min-width: 320px) and (max-width: 1200px) {
    gap: 15px;
  }
}
.anime-item{
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-gap: 20px;
  @media(min-width: 320px) and (max-width: 1200px) {
    grid-template-columns:  1fr;
    grid-gap: 5px;
  }
}
.anime-title{
  display: grid;
  grid-template-columns: 16px 1fr;
  grid-gap: 10px;
  align-items: center;
  &__title{
    font-weight: 400;
    font-size: 15px;
    color: #8F8B96;
  }
  &__icon{
    width: 16px;
    height: 16px;
    fill: none;
    stroke: #8F8B96;
    stroke-width: 1.2;
  }
}
.anime-subtitle{
  font-weight: 400;
  font-size: 15px;
  color: #242228;
  @media(min-width: 320px) and (max-width: 1200px) {
    font-size: 13px;
  }
}
.artist-box{
  &__subtitle{
    font-weight: 400;
    font-size: 15px;
    color: #B7B4BD;
    margin-bottom: 5px;
  }
}
.anime-page{
  .artist-box{
    @media(min-width: 320px) and (max-width: 1200px) {
      padding-bottom: 15px;
    }
    &__title{
      @media(min-width: 320px) and (max-width: 1200px) {
        margin-bottom: 5px;
      }
    }
  }
  .song-start__icon{
    width: 20px;
    height: 20px;
  }
  .song-like__icon{
    width: 20px;
    height: 20px;
  }
  .song-info__icon{
    width: 20px;
    height: 20px;
  }
  .artist-box{
    bottom: 23px;
    left: 270px;
  }
  .artist-info{
    padding: 20px 30px 30px 270px;
    @media (min-width: 320px) and (max-width: 1200px){
      padding: 10px 20px 25px;
    }
  }
  .anime-list{
    gap: 10px;
    @media (min-width: 320px) and (max-width: 1200px){
      gap: 20px;
    }
  }
}
.anime-avatar{
  position: absolute;
  top: 30px;
  left: 30px;
  @media(min-width: 320px) and (max-width: 1200px) {
    left: 17%;
    top: 20px;
  }
  &__img{
    width: 210px;
    height: 300px;
    object-fit: cover;
    border: 1px solid #E5E2EC;
    border-radius: 6px;

}
}
.anime-info{
  background: rgba(198, 44, 90, 0.1);
 display: grid;
  grid-template-columns: 24px 1fr;
  grid-gap: 10px;
  padding: 20px 30px;
  align-items: center;
  border: 1px solid #C62C5A;
  border-radius: 6px;
  margin-bottom: 40px;
  @media(min-width: 320px) and (max-width: 1200px) {
    padding: 10px 20px;
    margin-bottom: 65px;

  }
  &__icon{
    width: 24px;
    height: 24px;
  }
  &__title{
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #242228;
    @media(min-width: 320px) and (max-width: 1200px) {
      font-size: 13px;

    }
  }
}
.anime-wrap{
  display: grid;
  grid-gap: 40px;

}
.anime-row{

  &__title{
    font-weight: 600;
    font-size: 17px;
    color: #242228;
    margin-bottom: 35px;
    @media(min-width: 320px) and (max-width: 1200px) {
      margin-bottom: 25px;
    }
  }
}
.anime-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  @media(min-width: 320px) and (max-width: 1200px) {
    grid-template-columns:  1fr;
  }

}
.anime-block{
 display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}
.anime-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media(min-width: 320px) and (max-width: 1200px) {
    font-size: 13px;
    gap: 5px;
  }
  &__title{
    font-weight: 600;
    font-size: 15px;
    color: #242228;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media(min-width: 320px) and (max-width: 1200px) {
      font-size: 13px;
    }

  }
  &__subtitle{
    font-weight: 400;
    font-size: 13px;
    color: #8F8B96;
    display: flex;
    align-items: center;
    @media(min-width: 320px) and (max-width: 1200px) {
      font-size: 11px;

    }
  }
  &__author{
    display: block;
    margin-left: 5px;
    font-weight: 400;
    font-size: 13px;
    color: #242228;
    @media(min-width: 320px) and (max-width: 1200px) {
      font-size: 11px;
    }
  }
}
.anime-track{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(183, 168, 199, 0.15);
  border-radius: 6px;
  @media(min-width: 320px) and (max-width: 1200px) {
    background: transparent!important;
    padding: 5px 0;
    box-shadow: none;
  }
  .song-group{
    gap: 5px;
    .song-item__time{
      @media(min-width: 320px) and (max-width: 1200px) {
        color: #242228;
      }
    }
    .song-like__icon{
      @media(min-width: 320px) and (max-width: 1200px) {
        stroke: #8F8B96;
      }
      .song-like__icon--fill{
        @media(min-width: 320px) and (max-width: 1200px) {
          stroke: #C62C5A;
        }
      }
    }
  }
  &__time{
    font-weight: 400;
    font-size: 13px;
    color: #242228;
    @media(min-width: 320px) and (max-width: 1200px) {
      stroke: #C62C5A;
    }
  }
}
.swiper-slide{
  :hover {
    background: #E6E3EB;
  }
}
.swiper-list{
 max-width: 300px;
  max-height: 860px;
  position: relative;
  margin-bottom: 60px;
  .swiper{
    max-height: inherit;
  }
  .swiper-wrapper{
    display: flex;
    flex-direction: column;
  }
  .swiper-slide{
    max-height: 100px;
    height: fit-content!important;
    min-height: 57px !important;

  }
  .swiper-item{
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
    &__text{
      font-weight: 600;
      font-size: 13px;
      line-height: 130%;
      color: #242228;
      margin-bottom: 5px;

    }
    &__subtitle{
      font-weight: 400;
      font-size: 13px;
      line-height: 130%;
      color: #8F8B96;
    }
  }
  .swiper-arrows{
 position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    .swiper-button-prev{
      top: -10px;
      left: 50%;
    }
    .swiper-button-next{
      bottom: -30px;
      top: auto;
      left: 50%;
    }
    .swiper-button-prev::after{
      content: '';
      width: 12px;
      height: 6px;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 5L6 1L0.999999 5' stroke='%238F8B96' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
    .swiper-button-next::after{
      content: '';
      width: 12px;
      height: 6px;
      background-repeat: no-repeat;
      transform: rotate(180deg);
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 5L6 1L0.999999 5' stroke='%238F8B96' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
  }
  .swiper-scrollbar-drag{
    background: rgba(140, 97, 199, 0.15);
    height: 300px!important;
  }
}
.tabs-navbar{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .nav{
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    align-items: center;
    width: 100%;
  }
  .nav-tabs{
  border: none;
    margin-bottom: 40px;
  }
  .nav-item{
    padding: 0;

    border-radius: 4px;
  }
  .nav-link{
    background: #FFFFFF;
    border: none;
    display: flex;
    border-radius: 4px;
    width: auto;
    font-weight: 600;
    font-size: 13px;
    color: #8F8B96;
    padding: 6px 10px;
  }
  .nav-link.active{
    background: linear-gradient(90.16deg, #5A2E98 0%, #4F268A 100%);
    color: #FFFFFF!important;
  }
  .nav-item:hover > .nav-link{
    color: #242228;
  }
}