/*footer-style*/
.footer-block {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  @media(min-width: 320px) and (max-width: 1200px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    color: #8F8B96;
    @media(min-width: 320px) and (max-width: 1200px) {
      font-weight: 500;
      font-size: 13px;
      line-height: 140%;
      margin-bottom: 15px;
    }
  }

  &__span {
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    color: #FFFFFF;
    @media(min-width: 320px) and (max-width: 1200px) {
      font-weight: 500;
      font-size: 13px;
      line-height: 140%;
    }
  }
}

.footer-widgets {
  background: linear-gradient(90.16deg, #5A2E98 0%, #4F268A 100%);
}

.widgets-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  @media(min-width: 320px) and (max-width: 1200px) {
    padding: 10px;
    grid-template-columns: 1fr 1fr;
  }
}

.widgets-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  @media(min-width: 320px) and (max-width: 1200px) {
    display: none;
  }
}

.lang-dropdown {

}

.widgets-switch {
  .form-check-input {
    width: 50px;
    height: 30px;
    padding: 2px;
    background-color: #B3A5D0;
    border-radius: 99px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_dd_46_355)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 27C22.1797 27 28 21.1797 28 14C28 6.8203 22.1797 1 15 1C7.8203 1 2 6.8203 2 14C2 21.1797 7.8203 27 15 27Z' fill='white'/%3E%3C/g%3E%3Cg clip-path='url(%23clip0_46_355)'%3E%3Cpath d='M14.992 8.33313C13.8711 8.33292 12.7753 8.66512 11.8432 9.28772C10.911 9.91032 10.1845 10.7954 9.75538 11.8309C9.32627 12.8664 9.21388 14.006 9.43243 15.1054C9.65098 16.2048 10.1906 17.2147 10.9832 18.0074C11.7757 18.8001 12.7855 19.34 13.8849 19.5587C14.9843 19.7775 16.1238 19.6654 17.1595 19.2365C18.1951 18.8076 19.0803 18.0812 19.7031 17.1492C20.3258 16.2172 20.6583 15.1214 20.6583 14.0005C20.6567 12.4981 20.0593 11.0577 18.997 9.99518C17.9348 8.93271 16.4944 8.33498 14.992 8.33313Z' fill='%236838AB'/%3E%3Cpath d='M24.0004 13.0004H22.6683C22.4031 13.0004 22.1487 13.1057 21.9611 13.2933C21.7736 13.4808 21.6682 13.7352 21.6682 14.0005C21.6682 14.2657 21.7736 14.5201 21.9611 14.7076C22.1487 14.8952 22.4031 15.0006 22.6683 15.0006H24.0004C24.2657 15.0006 24.52 14.8952 24.7076 14.7076C24.8951 14.5201 25.0005 14.2657 25.0005 14.0005C25.0005 13.7352 24.8951 13.4808 24.7076 13.2933C24.52 13.1057 24.2657 13.0004 24.0004 13.0004Z' fill='%236838AB'/%3E%3Cpath d='M14.9921 20.6642C14.727 20.6646 14.4729 20.7701 14.2856 20.9576C14.0982 21.1451 13.9928 21.3992 13.9926 21.6643V22.9977C13.9926 23.2627 14.0979 23.5169 14.2853 23.7043C14.4727 23.8917 14.7269 23.997 14.992 23.997C15.257 23.997 15.5112 23.8917 15.6986 23.7043C15.886 23.5169 15.9913 23.2627 15.9913 22.9977V21.6643C15.9911 21.3992 15.8858 21.1451 15.6985 20.9576C15.5111 20.7701 15.2571 20.6646 14.9921 20.6642Z' fill='%236838AB'/%3E%3Cpath d='M8.33164 14.0005C8.33141 13.7354 8.22606 13.4813 8.0387 13.2938C7.85134 13.1063 7.59726 13.0008 7.3322 13.0004H6.00028C5.73503 13.0004 5.48066 13.1057 5.2931 13.2933C5.10555 13.4808 5.00018 13.7352 5.00018 14.0005C5.00018 14.2657 5.10555 14.5201 5.2931 14.7076C5.48066 14.8952 5.73503 15.0006 6.00028 15.0006H7.33221C7.59726 15.0002 7.85134 14.8946 8.0387 14.7071C8.22607 14.5197 8.33142 14.2655 8.33164 14.0005Z' fill='%236838AB'/%3E%3Cpath d='M14.9919 7.33284C15.2569 7.33244 15.511 7.22692 15.6984 7.03944C15.8857 6.85196 15.9911 6.59782 15.9913 6.33276V4.99936C15.9913 4.73431 15.886 4.48012 15.6986 4.2927C15.5112 4.10529 15.257 4 14.992 4C14.7269 4 14.4727 4.10529 14.2853 4.2927C14.0979 4.48012 13.9926 4.73431 13.9926 4.99936V6.33276C13.9928 6.5978 14.0981 6.85194 14.2855 7.03942C14.4728 7.22691 14.7269 7.33243 14.9919 7.33284Z' fill='%236838AB'/%3E%3Cpath d='M21.1206 9.28525L22.0634 8.34241C22.1565 8.24968 22.2304 8.13949 22.2809 8.01817C22.3314 7.89684 22.3574 7.76676 22.3576 7.63535C22.3577 7.50395 22.3319 7.37381 22.2817 7.25239C22.2314 7.13096 22.1578 7.02063 22.0649 6.92772C21.9719 6.8348 21.8616 6.76112 21.7402 6.7109C21.6188 6.66067 21.4886 6.63488 21.3572 6.63501C21.2258 6.63514 21.0957 6.66118 20.9744 6.71164C20.8531 6.76211 20.7429 6.836 20.6502 6.9291L19.7073 7.87197C19.6142 7.9647 19.5403 8.07488 19.4898 8.19621C19.4394 8.31753 19.4133 8.44762 19.4132 8.57902C19.4131 8.71043 19.4389 8.84056 19.4891 8.96199C19.5393 9.08341 19.613 9.19374 19.7059 9.28666C19.7988 9.37957 19.9092 9.45325 20.0306 9.50347C20.152 9.5537 20.2821 9.57948 20.4136 9.57935C20.545 9.57922 20.675 9.55318 20.7964 9.50271C20.9177 9.45225 21.0279 9.37835 21.1206 9.28525Z' fill='%236838AB'/%3E%3Cpath d='M21.1205 18.7158C21.0277 18.6228 20.9175 18.5489 20.7962 18.4985C20.6749 18.448 20.5448 18.422 20.4134 18.4219C20.2821 18.4218 20.1519 18.4476 20.0305 18.4978C19.9091 18.548 19.7988 18.6217 19.7059 18.7146C19.613 18.8075 19.5393 18.9178 19.4891 19.0392C19.4389 19.1606 19.4131 19.2907 19.4132 19.4221C19.4133 19.5535 19.4393 19.6836 19.4898 19.8049C19.5402 19.9262 19.6141 20.0364 19.7072 20.1291L20.65 21.072C20.7428 21.165 20.8529 21.2389 20.9742 21.2893C21.0956 21.3398 21.2256 21.3658 21.357 21.3659C21.4884 21.366 21.6185 21.3402 21.7399 21.29C21.8613 21.2398 21.9717 21.1661 22.0646 21.0732C22.1575 20.9803 22.2311 20.87 22.2814 20.7486C22.3316 20.6272 22.3574 20.4971 22.3573 20.3657C22.3571 20.2343 22.3311 20.1042 22.2807 19.9829C22.2302 19.8616 22.1564 19.7514 22.0633 19.6587L21.1205 18.7158Z' fill='%236838AB'/%3E%3Cpath d='M8.86293 18.7156L7.92009 19.6584C7.82696 19.7512 7.75304 19.8613 7.70255 19.9827C7.65206 20.104 7.626 20.2341 7.62586 20.3655C7.62571 20.4969 7.65149 20.6271 7.70172 20.7485C7.75194 20.87 7.82563 20.9803 7.91856 21.0733C8.01148 21.1662 8.12183 21.2399 8.24327 21.2901C8.36471 21.3403 8.49486 21.3661 8.62628 21.366C8.7577 21.3658 8.8878 21.3398 9.00913 21.2893C9.13047 21.2388 9.24065 21.1649 9.33337 21.0717L10.2762 20.1289C10.3693 20.0361 10.4432 19.926 10.4936 19.8046C10.544 19.6833 10.5701 19.5533 10.5702 19.4219C10.5703 19.2905 10.5445 19.1604 10.4943 19.039C10.4441 18.9175 10.3704 18.8072 10.2775 18.7143C10.1846 18.6214 10.0743 18.5478 9.95286 18.4975C9.83145 18.4473 9.70133 18.4215 9.56995 18.4216C9.43856 18.4217 9.30849 18.4478 9.18717 18.4982C9.06585 18.5486 8.95567 18.6225 8.86293 18.7156Z' fill='%236838AB'/%3E%3Cpath d='M8.86339 9.28525C8.95616 9.37818 9.06634 9.45191 9.18762 9.50224C9.3089 9.55257 9.43891 9.5785 9.57022 9.57855C9.70153 9.57861 9.83156 9.55279 9.95289 9.50256C10.0742 9.45234 10.1844 9.3787 10.2773 9.28585C10.3701 9.193 10.4438 9.08276 10.494 8.96144C10.5442 8.84011 10.5701 8.71008 10.57 8.57877C10.5699 8.44746 10.544 8.31745 10.4937 8.19617C10.4434 8.07489 10.3696 7.96471 10.2767 7.87194L9.33383 6.92908C9.24113 6.83585 9.13094 6.76184 9.00958 6.71127C8.88822 6.66071 8.75808 6.63458 8.6266 6.6344C8.49513 6.63422 8.36492 6.65998 8.24342 6.71021C8.12192 6.76043 8.01152 6.83414 7.91856 6.92711C7.82559 7.02007 7.75188 7.13047 7.70166 7.25197C7.65143 7.37347 7.62567 7.50369 7.62586 7.63516C7.62604 7.76663 7.65216 7.89677 7.70273 8.01813C7.7533 8.13949 7.82731 8.24968 7.92054 8.34239L8.86339 9.28525Z' fill='%236838AB'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_dd_46_355' x='0' y='0' width='30' height='30' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_46_355'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='0.1'/%3E%3CfeGaussianBlur stdDeviation='0.15'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='effect1_dropShadow_46_355' result='effect2_dropShadow_46_355'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect2_dropShadow_46_355' result='shape'/%3E%3C/filter%3E%3CclipPath id='clip0_46_355'%3E%3Crect width='20' height='20' fill='white' transform='translate(5 4)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");

    &:focus {
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_dd_46_355)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 27C22.1797 27 28 21.1797 28 14C28 6.8203 22.1797 1 15 1C7.8203 1 2 6.8203 2 14C2 21.1797 7.8203 27 15 27Z' fill='white'/%3E%3C/g%3E%3Cg clip-path='url(%23clip0_46_355)'%3E%3Cpath d='M14.992 8.33313C13.8711 8.33292 12.7753 8.66512 11.8432 9.28772C10.911 9.91032 10.1845 10.7954 9.75538 11.8309C9.32627 12.8664 9.21388 14.006 9.43243 15.1054C9.65098 16.2048 10.1906 17.2147 10.9832 18.0074C11.7757 18.8001 12.7855 19.34 13.8849 19.5587C14.9843 19.7775 16.1238 19.6654 17.1595 19.2365C18.1951 18.8076 19.0803 18.0812 19.7031 17.1492C20.3258 16.2172 20.6583 15.1214 20.6583 14.0005C20.6567 12.4981 20.0593 11.0577 18.997 9.99518C17.9348 8.93271 16.4944 8.33498 14.992 8.33313Z' fill='%236838AB'/%3E%3Cpath d='M24.0004 13.0004H22.6683C22.4031 13.0004 22.1487 13.1057 21.9611 13.2933C21.7736 13.4808 21.6682 13.7352 21.6682 14.0005C21.6682 14.2657 21.7736 14.5201 21.9611 14.7076C22.1487 14.8952 22.4031 15.0006 22.6683 15.0006H24.0004C24.2657 15.0006 24.52 14.8952 24.7076 14.7076C24.8951 14.5201 25.0005 14.2657 25.0005 14.0005C25.0005 13.7352 24.8951 13.4808 24.7076 13.2933C24.52 13.1057 24.2657 13.0004 24.0004 13.0004Z' fill='%236838AB'/%3E%3Cpath d='M14.9921 20.6642C14.727 20.6646 14.4729 20.7701 14.2856 20.9576C14.0982 21.1451 13.9928 21.3992 13.9926 21.6643V22.9977C13.9926 23.2627 14.0979 23.5169 14.2853 23.7043C14.4727 23.8917 14.7269 23.997 14.992 23.997C15.257 23.997 15.5112 23.8917 15.6986 23.7043C15.886 23.5169 15.9913 23.2627 15.9913 22.9977V21.6643C15.9911 21.3992 15.8858 21.1451 15.6985 20.9576C15.5111 20.7701 15.2571 20.6646 14.9921 20.6642Z' fill='%236838AB'/%3E%3Cpath d='M8.33164 14.0005C8.33141 13.7354 8.22606 13.4813 8.0387 13.2938C7.85134 13.1063 7.59726 13.0008 7.3322 13.0004H6.00028C5.73503 13.0004 5.48066 13.1057 5.2931 13.2933C5.10555 13.4808 5.00018 13.7352 5.00018 14.0005C5.00018 14.2657 5.10555 14.5201 5.2931 14.7076C5.48066 14.8952 5.73503 15.0006 6.00028 15.0006H7.33221C7.59726 15.0002 7.85134 14.8946 8.0387 14.7071C8.22607 14.5197 8.33142 14.2655 8.33164 14.0005Z' fill='%236838AB'/%3E%3Cpath d='M14.9919 7.33284C15.2569 7.33244 15.511 7.22692 15.6984 7.03944C15.8857 6.85196 15.9911 6.59782 15.9913 6.33276V4.99936C15.9913 4.73431 15.886 4.48012 15.6986 4.2927C15.5112 4.10529 15.257 4 14.992 4C14.7269 4 14.4727 4.10529 14.2853 4.2927C14.0979 4.48012 13.9926 4.73431 13.9926 4.99936V6.33276C13.9928 6.5978 14.0981 6.85194 14.2855 7.03942C14.4728 7.22691 14.7269 7.33243 14.9919 7.33284Z' fill='%236838AB'/%3E%3Cpath d='M21.1206 9.28525L22.0634 8.34241C22.1565 8.24968 22.2304 8.13949 22.2809 8.01817C22.3314 7.89684 22.3574 7.76676 22.3576 7.63535C22.3577 7.50395 22.3319 7.37381 22.2817 7.25239C22.2314 7.13096 22.1578 7.02063 22.0649 6.92772C21.9719 6.8348 21.8616 6.76112 21.7402 6.7109C21.6188 6.66067 21.4886 6.63488 21.3572 6.63501C21.2258 6.63514 21.0957 6.66118 20.9744 6.71164C20.8531 6.76211 20.7429 6.836 20.6502 6.9291L19.7073 7.87197C19.6142 7.9647 19.5403 8.07488 19.4898 8.19621C19.4394 8.31753 19.4133 8.44762 19.4132 8.57902C19.4131 8.71043 19.4389 8.84056 19.4891 8.96199C19.5393 9.08341 19.613 9.19374 19.7059 9.28666C19.7988 9.37957 19.9092 9.45325 20.0306 9.50347C20.152 9.5537 20.2821 9.57948 20.4136 9.57935C20.545 9.57922 20.675 9.55318 20.7964 9.50271C20.9177 9.45225 21.0279 9.37835 21.1206 9.28525Z' fill='%236838AB'/%3E%3Cpath d='M21.1205 18.7158C21.0277 18.6228 20.9175 18.5489 20.7962 18.4985C20.6749 18.448 20.5448 18.422 20.4134 18.4219C20.2821 18.4218 20.1519 18.4476 20.0305 18.4978C19.9091 18.548 19.7988 18.6217 19.7059 18.7146C19.613 18.8075 19.5393 18.9178 19.4891 19.0392C19.4389 19.1606 19.4131 19.2907 19.4132 19.4221C19.4133 19.5535 19.4393 19.6836 19.4898 19.8049C19.5402 19.9262 19.6141 20.0364 19.7072 20.1291L20.65 21.072C20.7428 21.165 20.8529 21.2389 20.9742 21.2893C21.0956 21.3398 21.2256 21.3658 21.357 21.3659C21.4884 21.366 21.6185 21.3402 21.7399 21.29C21.8613 21.2398 21.9717 21.1661 22.0646 21.0732C22.1575 20.9803 22.2311 20.87 22.2814 20.7486C22.3316 20.6272 22.3574 20.4971 22.3573 20.3657C22.3571 20.2343 22.3311 20.1042 22.2807 19.9829C22.2302 19.8616 22.1564 19.7514 22.0633 19.6587L21.1205 18.7158Z' fill='%236838AB'/%3E%3Cpath d='M8.86293 18.7156L7.92009 19.6584C7.82696 19.7512 7.75304 19.8613 7.70255 19.9827C7.65206 20.104 7.626 20.2341 7.62586 20.3655C7.62571 20.4969 7.65149 20.6271 7.70172 20.7485C7.75194 20.87 7.82563 20.9803 7.91856 21.0733C8.01148 21.1662 8.12183 21.2399 8.24327 21.2901C8.36471 21.3403 8.49486 21.3661 8.62628 21.366C8.7577 21.3658 8.8878 21.3398 9.00913 21.2893C9.13047 21.2388 9.24065 21.1649 9.33337 21.0717L10.2762 20.1289C10.3693 20.0361 10.4432 19.926 10.4936 19.8046C10.544 19.6833 10.5701 19.5533 10.5702 19.4219C10.5703 19.2905 10.5445 19.1604 10.4943 19.039C10.4441 18.9175 10.3704 18.8072 10.2775 18.7143C10.1846 18.6214 10.0743 18.5478 9.95286 18.4975C9.83145 18.4473 9.70133 18.4215 9.56995 18.4216C9.43856 18.4217 9.30849 18.4478 9.18717 18.4982C9.06585 18.5486 8.95567 18.6225 8.86293 18.7156Z' fill='%236838AB'/%3E%3Cpath d='M8.86339 9.28525C8.95616 9.37818 9.06634 9.45191 9.18762 9.50224C9.3089 9.55257 9.43891 9.5785 9.57022 9.57855C9.70153 9.57861 9.83156 9.55279 9.95289 9.50256C10.0742 9.45234 10.1844 9.3787 10.2773 9.28585C10.3701 9.193 10.4438 9.08276 10.494 8.96144C10.5442 8.84011 10.5701 8.71008 10.57 8.57877C10.5699 8.44746 10.544 8.31745 10.4937 8.19617C10.4434 8.07489 10.3696 7.96471 10.2767 7.87194L9.33383 6.92908C9.24113 6.83585 9.13094 6.76184 9.00958 6.71127C8.88822 6.66071 8.75808 6.63458 8.6266 6.6344C8.49513 6.63422 8.36492 6.65998 8.24342 6.71021C8.12192 6.76043 8.01152 6.83414 7.91856 6.92711C7.82559 7.02007 7.75188 7.13047 7.70166 7.25197C7.65143 7.37347 7.62567 7.50369 7.62586 7.63516C7.62604 7.76663 7.65216 7.89677 7.70273 8.01813C7.7533 8.13949 7.82731 8.24968 7.92054 8.34239L8.86339 9.28525Z' fill='%236838AB'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_dd_46_355' x='0' y='0' width='30' height='30' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_46_355'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='0.1'/%3E%3CfeGaussianBlur stdDeviation='0.15'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='effect1_dropShadow_46_355' result='effect2_dropShadow_46_355'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect2_dropShadow_46_355' result='shape'/%3E%3C/filter%3E%3CclipPath id='clip0_46_355'%3E%3Crect width='20' height='20' fill='white' transform='translate(5 4)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      border: none;
      box-shadow: none;
      outline: none;
    }
  }

  .form-check-input:checked {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_dd_47_866)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 27C22.1797 27 28 21.1797 28 14C28 6.8203 22.1797 1 15 1C7.8203 1 2 6.8203 2 14C2 21.1797 7.8203 27 15 27Z' fill='white'/%3E%3C/g%3E%3Cg clip-path='url(%23clip0_47_866)'%3E%3Cpath d='M24.033 18.0328C23.8792 17.8577 23.6298 17.8019 23.4159 17.8945C22.4738 18.3029 21.4716 18.51 20.4373 18.51C16.3034 18.51 12.9402 15.1468 12.9402 11.0129C12.9402 9.0297 13.7075 7.15989 15.1008 5.74779C15.2644 5.582 15.3025 5.3297 15.1952 5.12303C15.0878 4.91635 14.8597 4.80219 14.6299 4.84083C12.5023 5.1969 10.5548 6.30083 9.14601 7.94929C7.7212 9.61641 6.93652 11.7439 6.93652 13.9399C6.93652 15.0354 7.12659 16.1015 7.49028 17.1012C8.22118 16.4799 9.14017 16.1408 10.1086 16.1408C11.1754 16.1408 12.1823 16.5522 12.9438 17.2992C13.394 17.7409 13.7297 18.2707 13.9329 18.8549C14.8558 19.3401 15.4581 20.3034 15.4581 21.3836C15.4581 22.0185 15.2497 22.6057 14.8979 23.0805C15.3139 23.1372 15.7363 23.1667 16.1633 23.1667C17.7895 23.1667 19.3885 22.7376 20.7875 21.9257C22.1442 21.1384 23.2864 20.01 24.0907 18.6626C24.2103 18.4624 24.1869 18.208 24.033 18.0328V18.0328Z' fill='%23242228'/%3E%3Cpath d='M12.6007 23.1667H7.61642C6.63315 23.1667 5.83325 22.3668 5.83325 21.3836C5.83325 20.5502 6.40785 19.8486 7.18169 19.6539C7.29065 19.0533 7.58173 18.5015 8.02563 18.066C8.58505 17.5172 9.3248 17.215 10.1086 17.215C10.8924 17.215 11.6321 17.5172 12.1915 18.066C12.6354 18.5014 12.9265 19.0533 13.0355 19.6539C13.8093 19.8486 14.3839 20.5502 14.3839 21.3836C14.3839 22.3668 13.5839 23.1667 12.6007 23.1667V23.1667Z' fill='%23242228'/%3E%3Cpath d='M21.5363 14.1421H16.552C15.5687 14.1421 14.7688 13.3421 14.7688 12.3589C14.7688 11.5256 15.3434 10.8239 16.1172 10.6293C16.2262 10.0287 16.5173 9.4768 16.9611 9.04134C17.5206 8.49256 18.2603 8.19031 19.0441 8.19031C19.8279 8.19031 20.5677 8.49252 21.1271 9.04134C21.571 9.4768 21.862 10.0287 21.971 10.6293C22.7448 10.8239 23.3194 11.5255 23.3194 12.3589C23.3195 13.3421 22.5195 14.1421 21.5363 14.1421Z' fill='%23242228'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_dd_47_866' x='0' y='0' width='30' height='30' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_47_866'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='0.1'/%3E%3CfeGaussianBlur stdDeviation='0.15'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='effect1_dropShadow_47_866' result='effect2_dropShadow_47_866'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect2_dropShadow_47_866' result='shape'/%3E%3C/filter%3E%3CclipPath id='clip0_47_866'%3E%3Crect width='20' height='20' fill='white' transform='translate(5 4)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-color: #242228;
    border: none;
  }

  .form-check-label {

  }
}

.footer-info {
  background-color: #242228;
  padding: 40px 0;
  @media(min-width: 320px) and (max-width: 1200px) {
    padding: 30px 0;
  }

}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: 25px;
}

.social-link {
  width: fit-content;

  &__icon {
    display: flex;
    width: 28px;
    height: 28px;
    fill: white;
  }
}

.footer-links {
  display: grid;
  justify-content: end;
  align-content: end;
  @media(min-width: 320px) and (max-width: 1200px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

}

.footer-link {
  margin-bottom: 10px;
  @media(min-width: 320px) and (max-width: 1200px) {
    margin-bottom: 25px;
  }

  &__img {
    max-width: 265px;
  }
}

.footer-copyright {
  display: flex;
  gap: 15px;

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #8F8B96;

  }
}

.select-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.simple-select {
  width: 100px;

}

.select-item {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  grid-gap: 10px;
  font-weight: 600;
  font-size: 17px;
  color: #FFFFFF;
}

.select2-container--default .select2-selection--single {
  background-color: transparent;
  border: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  width: 20px;
  height: 20px;
  top: 25%;
  transition: 0.2s;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.83337 8.33334L10 11.6667L14.1667 8.33334' stroke='white' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border: none;
  transform: rotate(180deg);
  transition: 0.2s;
}

.select2-search__field {
  display: none;
}

.select2-search--dropdown {
  padding: 0;
}
