/*footer-style*/
.footer-block {
  display: grid;
  grid-template-columns: 1.65fr 1fr;
  @media(min-width: 320px) and (max-width: 1200px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    color: #8F8B96;
    @media(min-width: 320px) and (max-width: 1200px) {
      font-weight: 500;
      font-size: 13px;
      line-height: 140%;
      margin-bottom: 15px;
    }
  }

  &__span {
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    color: #FFFFFF;
    @media(min-width: 320px) and (max-width: 1200px) {
      font-weight: 500;
      font-size: 13px;
      line-height: 140%;
    }
  }
}

.footer-widgets {
  background: linear-gradient(90.16deg, #5A2E98 0%, #4F268A 100%);
}

.widgets-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  @media(min-width: 320px) and (max-width: 1200px) {
    padding: 8px 0 ;
    grid-template-columns: 1fr 1fr;
  }
}

.widgets-block {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  margin-right: 40px;
  @media(min-width: 320px) and (max-width: 1200px) {
    display: none;
  }
}

.lang-dropdown {

}

.widgets-switch {
  .form-check-input {
    width: 50px;
    height: 30px;
    padding: 2px;
    background-color: #B3A5D0;
    border-radius: 100px;
    border: 2px solid transparent;
    outline: none;
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 27C21.1797 27 27 21.1797 27 14C27 6.8203 21.1797 1 14 1C6.8203 1 1 6.8203 1 14C1 21.1797 6.8203 27 14 27Z' fill='white'/%3E%3Cg clip-path='url(%23clip0_47_845)'%3E%3Cpath d='M13.9921 8.3331C12.8712 8.33289 11.7753 8.66509 10.8432 9.28769C9.91111 9.91029 9.18455 10.7953 8.75544 11.8309C8.32633 12.8664 8.21395 14.0059 8.43249 15.1054C8.65104 16.2048 9.19071 17.2147 9.98324 18.0074C10.7758 18.8001 11.7856 19.3399 12.885 19.5587C13.9843 19.7775 15.1239 19.6653 16.1595 19.2364C17.1951 18.8075 18.0803 18.0812 18.7031 17.1492C19.3259 16.2172 19.6583 15.1214 19.6583 14.0005C19.6568 12.4981 19.0593 11.0576 17.9971 9.99515C16.9348 8.93268 15.4945 8.33495 13.9921 8.3331Z' fill='%236838AB'/%3E%3Cpath d='M23.0004 13.0004H21.6683C21.4031 13.0004 21.1487 13.1058 20.9611 13.2933C20.7736 13.4809 20.6682 13.7352 20.6682 14.0005C20.6682 14.2657 20.7736 14.5201 20.9611 14.7077C21.1487 14.8952 21.4031 15.0006 21.6683 15.0006H23.0004C23.2657 15.0006 23.52 14.8952 23.7076 14.7077C23.8951 14.5201 24.0005 14.2657 24.0005 14.0005C24.0005 13.7352 23.8951 13.4809 23.7076 13.2933C23.52 13.1058 23.2657 13.0004 23.0004 13.0004Z' fill='%236838AB'/%3E%3Cpath d='M13.9921 20.6642C13.7271 20.6646 13.473 20.7701 13.2856 20.9576C13.0983 21.1451 12.9929 21.3992 12.9927 21.6643V22.9977C12.9927 23.2627 13.098 23.5169 13.2854 23.7043C13.4728 23.8918 13.727 23.997 13.992 23.997C14.2571 23.997 14.5113 23.8918 14.6987 23.7043C14.8861 23.5169 14.9914 23.2627 14.9914 22.9977V21.6643C14.9912 21.3993 14.8859 21.1451 14.6985 20.9576C14.5112 20.7701 14.2572 20.6646 13.9921 20.6642Z' fill='%236838AB'/%3E%3Cpath d='M7.3317 14.0005C7.33148 13.7354 7.22613 13.4813 7.03876 13.2938C6.8514 13.1063 6.59732 13.0008 6.33226 13.0004H5.00034C4.7351 13.0004 4.48072 13.1058 4.29316 13.2933C4.10561 13.4809 4.00024 13.7352 4.00024 14.0005C4.00024 14.2657 4.10561 14.5201 4.29316 14.7077C4.48072 14.8952 4.7351 15.0006 5.00034 15.0006H6.33227C6.59733 15.0002 6.8514 14.8947 7.03877 14.7072C7.22613 14.5197 7.33148 14.2655 7.3317 14.0005Z' fill='%236838AB'/%3E%3Cpath d='M13.992 7.33281C14.257 7.33241 14.5111 7.22689 14.6984 7.03941C14.8858 6.85193 14.9912 6.59778 14.9914 6.33273V4.99933C14.9914 4.73428 14.8861 4.48009 14.6987 4.29267C14.5113 4.10526 14.2571 3.99997 13.992 3.99997C13.727 3.99997 13.4728 4.10526 13.2854 4.29267C13.098 4.48009 12.9927 4.73428 12.9927 4.99933V6.33273C12.9929 6.59777 13.0982 6.85191 13.2855 7.03939C13.4729 7.22688 13.7269 7.3324 13.992 7.33281Z' fill='%236838AB'/%3E%3Cpath d='M20.1205 9.28522L21.0633 8.34238C21.1564 8.24965 21.2303 8.13946 21.2808 8.01814C21.3313 7.89681 21.3573 7.76673 21.3574 7.63532C21.3576 7.50392 21.3318 7.37378 21.2815 7.25236C21.2313 7.13093 21.1576 7.0206 21.0647 6.92769C20.9718 6.83477 20.8615 6.76109 20.7401 6.71086C20.6186 6.66064 20.4885 6.63485 20.3571 6.63498C20.2257 6.63511 20.0956 6.66115 19.9743 6.71161C19.853 6.76208 19.7428 6.83597 19.65 6.92907L18.7072 7.87194C18.6141 7.96467 18.5402 8.07485 18.4897 8.19618C18.4393 8.3175 18.4132 8.44759 18.4131 8.57899C18.413 8.7104 18.4387 8.84053 18.489 8.96196C18.5392 9.08338 18.6129 9.19371 18.7058 9.28662C18.7987 9.37954 18.909 9.45322 19.0305 9.50344C19.1519 9.55367 19.282 9.57945 19.4134 9.57932C19.5448 9.57919 19.6749 9.55315 19.7962 9.50268C19.9176 9.45222 20.0278 9.37832 20.1205 9.28522Z' fill='%236838AB'/%3E%3Cpath d='M20.1203 18.7158C20.0276 18.6228 19.9174 18.5489 19.7961 18.4985C19.6748 18.448 19.5447 18.422 19.4133 18.4219C19.2819 18.4218 19.1518 18.4476 19.0304 18.4978C18.909 18.548 18.7987 18.6217 18.7058 18.7146C18.6129 18.8075 18.5392 18.9178 18.489 19.0392C18.4388 19.1606 18.413 19.2907 18.4131 19.4221C18.4132 19.5535 18.4392 19.6836 18.4897 19.8049C18.5401 19.9262 18.614 20.0364 18.707 20.1291L19.6499 21.072C19.7426 21.165 19.8528 21.2389 19.9741 21.2893C20.0954 21.3398 20.2255 21.3658 20.3569 21.3659C20.4883 21.366 20.6184 21.3402 20.7398 21.29C20.8612 21.2398 20.9715 21.1661 21.0644 21.0732C21.1573 20.9803 21.231 20.87 21.2812 20.7486C21.3315 20.6272 21.3573 20.4971 21.3571 20.3657C21.357 20.2343 21.331 20.1042 21.2806 19.9829C21.2301 19.8616 21.1563 19.7514 21.0632 19.6587L20.1203 18.7158Z' fill='%236838AB'/%3E%3Cpath d='M7.86305 18.7156L6.92021 19.6584C6.82708 19.7512 6.75316 19.8613 6.70267 19.9827C6.65218 20.104 6.62612 20.2341 6.62598 20.3655C6.62583 20.4969 6.65161 20.6271 6.70184 20.7485C6.75207 20.87 6.82575 20.9803 6.91868 21.0733C7.0116 21.1662 7.12195 21.2399 7.24339 21.2901C7.36483 21.3403 7.49499 21.3661 7.6264 21.366C7.75782 21.3658 7.88792 21.3398 8.00926 21.2893C8.13059 21.2388 8.24077 21.1649 8.3335 21.0717L9.27636 20.1289C9.36942 20.0361 9.44329 19.926 9.49373 19.8046C9.54417 19.6833 9.57019 19.5533 9.57031 19.4219C9.57042 19.2905 9.54463 19.1604 9.4944 19.039C9.44418 18.9175 9.3705 18.8072 9.2776 18.7143C9.1847 18.6214 9.07439 18.5478 8.95298 18.4975C8.83157 18.4473 8.70145 18.4215 8.57007 18.4216C8.43868 18.4217 8.30861 18.4478 8.18729 18.4982C8.06598 18.5486 7.95579 18.6225 7.86305 18.7156Z' fill='%236838AB'/%3E%3Cpath d='M7.86351 9.28519C7.95629 9.37812 8.06646 9.45185 8.18774 9.50218C8.30902 9.5525 8.43903 9.57844 8.57034 9.57849C8.70165 9.57855 8.83169 9.55273 8.95301 9.5025C9.07433 9.45228 9.18457 9.37864 9.27742 9.28579C9.37027 9.19294 9.44391 9.0827 9.49413 8.96137C9.54436 8.84005 9.57018 8.71002 9.57013 8.57871C9.57007 8.4474 9.54414 8.31739 9.49381 8.19611C9.44348 8.07482 9.36975 7.96465 9.27682 7.87188L8.33396 6.92902C8.24125 6.83579 8.13106 6.76178 8.0097 6.71121C7.88834 6.66064 7.7582 6.63452 7.62673 6.63434C7.49525 6.63416 7.36504 6.65992 7.24354 6.71015C7.12204 6.76037 7.01164 6.83408 6.91868 6.92705C6.82571 7.02001 6.75201 7.13041 6.70178 7.25191C6.65155 7.37341 6.62579 7.50362 6.62598 7.6351C6.62616 7.76657 6.65229 7.89671 6.70285 8.01807C6.75342 8.13943 6.82744 8.24962 6.92066 8.34232L7.86351 9.28519Z' fill='%236838AB'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_47_845'%3E%3Crect width='20' height='20' fill='white' transform='translate(4 4)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    &:focus {
      background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 27C21.1797 27 27 21.1797 27 14C27 6.8203 21.1797 1 14 1C6.8203 1 1 6.8203 1 14C1 21.1797 6.8203 27 14 27Z' fill='white'/%3E%3Cg clip-path='url(%23clip0_47_845)'%3E%3Cpath d='M13.9921 8.3331C12.8712 8.33289 11.7753 8.66509 10.8432 9.28769C9.91111 9.91029 9.18455 10.7953 8.75544 11.8309C8.32633 12.8664 8.21395 14.0059 8.43249 15.1054C8.65104 16.2048 9.19071 17.2147 9.98324 18.0074C10.7758 18.8001 11.7856 19.3399 12.885 19.5587C13.9843 19.7775 15.1239 19.6653 16.1595 19.2364C17.1951 18.8075 18.0803 18.0812 18.7031 17.1492C19.3259 16.2172 19.6583 15.1214 19.6583 14.0005C19.6568 12.4981 19.0593 11.0576 17.9971 9.99515C16.9348 8.93268 15.4945 8.33495 13.9921 8.3331Z' fill='%236838AB'/%3E%3Cpath d='M23.0004 13.0004H21.6683C21.4031 13.0004 21.1487 13.1058 20.9611 13.2933C20.7736 13.4809 20.6682 13.7352 20.6682 14.0005C20.6682 14.2657 20.7736 14.5201 20.9611 14.7077C21.1487 14.8952 21.4031 15.0006 21.6683 15.0006H23.0004C23.2657 15.0006 23.52 14.8952 23.7076 14.7077C23.8951 14.5201 24.0005 14.2657 24.0005 14.0005C24.0005 13.7352 23.8951 13.4809 23.7076 13.2933C23.52 13.1058 23.2657 13.0004 23.0004 13.0004Z' fill='%236838AB'/%3E%3Cpath d='M13.9921 20.6642C13.7271 20.6646 13.473 20.7701 13.2856 20.9576C13.0983 21.1451 12.9929 21.3992 12.9927 21.6643V22.9977C12.9927 23.2627 13.098 23.5169 13.2854 23.7043C13.4728 23.8918 13.727 23.997 13.992 23.997C14.2571 23.997 14.5113 23.8918 14.6987 23.7043C14.8861 23.5169 14.9914 23.2627 14.9914 22.9977V21.6643C14.9912 21.3993 14.8859 21.1451 14.6985 20.9576C14.5112 20.7701 14.2572 20.6646 13.9921 20.6642Z' fill='%236838AB'/%3E%3Cpath d='M7.3317 14.0005C7.33148 13.7354 7.22613 13.4813 7.03876 13.2938C6.8514 13.1063 6.59732 13.0008 6.33226 13.0004H5.00034C4.7351 13.0004 4.48072 13.1058 4.29316 13.2933C4.10561 13.4809 4.00024 13.7352 4.00024 14.0005C4.00024 14.2657 4.10561 14.5201 4.29316 14.7077C4.48072 14.8952 4.7351 15.0006 5.00034 15.0006H6.33227C6.59733 15.0002 6.8514 14.8947 7.03877 14.7072C7.22613 14.5197 7.33148 14.2655 7.3317 14.0005Z' fill='%236838AB'/%3E%3Cpath d='M13.992 7.33281C14.257 7.33241 14.5111 7.22689 14.6984 7.03941C14.8858 6.85193 14.9912 6.59778 14.9914 6.33273V4.99933C14.9914 4.73428 14.8861 4.48009 14.6987 4.29267C14.5113 4.10526 14.2571 3.99997 13.992 3.99997C13.727 3.99997 13.4728 4.10526 13.2854 4.29267C13.098 4.48009 12.9927 4.73428 12.9927 4.99933V6.33273C12.9929 6.59777 13.0982 6.85191 13.2855 7.03939C13.4729 7.22688 13.7269 7.3324 13.992 7.33281Z' fill='%236838AB'/%3E%3Cpath d='M20.1205 9.28522L21.0633 8.34238C21.1564 8.24965 21.2303 8.13946 21.2808 8.01814C21.3313 7.89681 21.3573 7.76673 21.3574 7.63532C21.3576 7.50392 21.3318 7.37378 21.2815 7.25236C21.2313 7.13093 21.1576 7.0206 21.0647 6.92769C20.9718 6.83477 20.8615 6.76109 20.7401 6.71086C20.6186 6.66064 20.4885 6.63485 20.3571 6.63498C20.2257 6.63511 20.0956 6.66115 19.9743 6.71161C19.853 6.76208 19.7428 6.83597 19.65 6.92907L18.7072 7.87194C18.6141 7.96467 18.5402 8.07485 18.4897 8.19618C18.4393 8.3175 18.4132 8.44759 18.4131 8.57899C18.413 8.7104 18.4387 8.84053 18.489 8.96196C18.5392 9.08338 18.6129 9.19371 18.7058 9.28662C18.7987 9.37954 18.909 9.45322 19.0305 9.50344C19.1519 9.55367 19.282 9.57945 19.4134 9.57932C19.5448 9.57919 19.6749 9.55315 19.7962 9.50268C19.9176 9.45222 20.0278 9.37832 20.1205 9.28522Z' fill='%236838AB'/%3E%3Cpath d='M20.1203 18.7158C20.0276 18.6228 19.9174 18.5489 19.7961 18.4985C19.6748 18.448 19.5447 18.422 19.4133 18.4219C19.2819 18.4218 19.1518 18.4476 19.0304 18.4978C18.909 18.548 18.7987 18.6217 18.7058 18.7146C18.6129 18.8075 18.5392 18.9178 18.489 19.0392C18.4388 19.1606 18.413 19.2907 18.4131 19.4221C18.4132 19.5535 18.4392 19.6836 18.4897 19.8049C18.5401 19.9262 18.614 20.0364 18.707 20.1291L19.6499 21.072C19.7426 21.165 19.8528 21.2389 19.9741 21.2893C20.0954 21.3398 20.2255 21.3658 20.3569 21.3659C20.4883 21.366 20.6184 21.3402 20.7398 21.29C20.8612 21.2398 20.9715 21.1661 21.0644 21.0732C21.1573 20.9803 21.231 20.87 21.2812 20.7486C21.3315 20.6272 21.3573 20.4971 21.3571 20.3657C21.357 20.2343 21.331 20.1042 21.2806 19.9829C21.2301 19.8616 21.1563 19.7514 21.0632 19.6587L20.1203 18.7158Z' fill='%236838AB'/%3E%3Cpath d='M7.86305 18.7156L6.92021 19.6584C6.82708 19.7512 6.75316 19.8613 6.70267 19.9827C6.65218 20.104 6.62612 20.2341 6.62598 20.3655C6.62583 20.4969 6.65161 20.6271 6.70184 20.7485C6.75207 20.87 6.82575 20.9803 6.91868 21.0733C7.0116 21.1662 7.12195 21.2399 7.24339 21.2901C7.36483 21.3403 7.49499 21.3661 7.6264 21.366C7.75782 21.3658 7.88792 21.3398 8.00926 21.2893C8.13059 21.2388 8.24077 21.1649 8.3335 21.0717L9.27636 20.1289C9.36942 20.0361 9.44329 19.926 9.49373 19.8046C9.54417 19.6833 9.57019 19.5533 9.57031 19.4219C9.57042 19.2905 9.54463 19.1604 9.4944 19.039C9.44418 18.9175 9.3705 18.8072 9.2776 18.7143C9.1847 18.6214 9.07439 18.5478 8.95298 18.4975C8.83157 18.4473 8.70145 18.4215 8.57007 18.4216C8.43868 18.4217 8.30861 18.4478 8.18729 18.4982C8.06598 18.5486 7.95579 18.6225 7.86305 18.7156Z' fill='%236838AB'/%3E%3Cpath d='M7.86351 9.28519C7.95629 9.37812 8.06646 9.45185 8.18774 9.50218C8.30902 9.5525 8.43903 9.57844 8.57034 9.57849C8.70165 9.57855 8.83169 9.55273 8.95301 9.5025C9.07433 9.45228 9.18457 9.37864 9.27742 9.28579C9.37027 9.19294 9.44391 9.0827 9.49413 8.96137C9.54436 8.84005 9.57018 8.71002 9.57013 8.57871C9.57007 8.4474 9.54414 8.31739 9.49381 8.19611C9.44348 8.07482 9.36975 7.96465 9.27682 7.87188L8.33396 6.92902C8.24125 6.83579 8.13106 6.76178 8.0097 6.71121C7.88834 6.66064 7.7582 6.63452 7.62673 6.63434C7.49525 6.63416 7.36504 6.65992 7.24354 6.71015C7.12204 6.76037 7.01164 6.83408 6.91868 6.92705C6.82571 7.02001 6.75201 7.13041 6.70178 7.25191C6.65155 7.37341 6.62579 7.50362 6.62598 7.6351C6.62616 7.76657 6.65229 7.89671 6.70285 8.01807C6.75342 8.13943 6.82744 8.24962 6.92066 8.34232L7.86351 9.28519Z' fill='%236838AB'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_47_845'%3E%3Crect width='20' height='20' fill='white' transform='translate(4 4)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      border: 2px solid transparent;
      outline: none;
      box-shadow: none;
    }
  }

  .form-check-input:checked {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.9999 25.0714C19.6668 25.0714 25.0713 19.6669 25.0713 13C25.0713 6.33312 19.6668 0.928558 12.9999 0.928558C6.33303 0.928558 0.928467 6.33312 0.928467 13C0.928467 19.6669 6.33303 25.0714 12.9999 25.0714Z' fill='white'/%3E%3Cpath d='M21.388 16.7448C21.2452 16.5821 21.0136 16.5303 20.815 16.6164C19.9401 16.9956 19.0096 17.1879 18.0491 17.1879C14.2105 17.1879 11.0875 14.0649 11.0875 10.2263C11.0875 8.38472 11.8 6.64846 13.0938 5.33723C13.2457 5.18328 13.2811 4.94901 13.1814 4.75709C13.0818 4.56517 12.8699 4.45917 12.6565 4.49505C10.6809 4.82568 8.8725 5.85077 7.56436 7.38148C6.24133 8.92952 5.5127 10.9051 5.5127 12.9442C5.5127 13.9614 5.68918 14.9514 6.0269 15.8797C6.70559 15.3027 7.55894 14.9879 8.45821 14.9879C9.44878 14.9879 10.3838 15.3699 11.0909 16.0635C11.509 16.4737 11.8207 16.9657 12.0094 17.5081C12.8663 17.9587 13.4256 18.8532 13.4256 19.8562C13.4256 20.4458 13.2321 20.991 12.9054 21.4319C13.2917 21.4846 13.6839 21.512 14.0804 21.512C15.5905 21.512 17.0753 21.1135 18.3743 20.3596C19.6341 19.6285 20.6948 18.5807 21.4416 17.3296C21.5526 17.1437 21.5309 16.9074 21.388 16.7448Z' fill='%23242228'/%3E%3Cpath d='M10.7723 21.512H6.14408C5.23105 21.512 4.48828 20.7692 4.48828 19.8562C4.48828 19.0823 5.02184 18.4308 5.7404 18.2501C5.84158 17.6924 6.11187 17.1799 6.52406 16.7756C7.04352 16.266 7.73043 15.9854 8.45823 15.9854C9.18604 15.9854 9.87294 16.266 10.3924 16.7756C10.8046 17.1799 11.0749 17.6924 11.1761 18.2501C11.8946 18.4308 12.4282 19.0823 12.4282 19.8562C12.4281 20.7692 11.6854 21.512 10.7723 21.512Z' fill='%23242228'/%3E%3Cpath d='M19.0695 13.1319H14.4412C13.5282 13.1319 12.7854 12.3891 12.7854 11.4761C12.7854 10.7023 13.319 10.0508 14.0375 9.87006C14.1387 9.31236 14.409 8.79988 14.8211 8.39553C15.3406 7.88595 16.0275 7.60529 16.7554 7.60529C17.4832 7.60529 18.1701 7.88591 18.6895 8.39553C19.1017 8.79988 19.372 9.31233 19.4732 9.87006C20.1917 10.0508 20.7253 10.7023 20.7253 11.4761C20.7253 12.3891 19.9825 13.1319 19.0695 13.1319Z' fill='%23242228'/%3E%3C/svg%3E%0A");
    background-color: #242228;
    border: 2px solid transparent;
    outline: none;
    box-shadow: none;
  }

  .form-check-label {

  }
}
.footer-info {
  background-color: #242228;
  padding: 45px 0 40px;
  @media(min-width: 320px) and (max-width: 1200px) {
    padding: 30px 0;
  }

}

.footer-social {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: flex-end;
  grid-gap: 15px;
  margin-bottom: 25px;
  @media(min-width: 320px) and (max-width: 1200px) {
    margin-bottom: 20px;
  }
}

.social-link {
  width: fit-content;

  &__icon {
    display: flex;
    width: 28px;
    height: 28px;
    fill: white;
    margin-top: -5px;
  }
}
.social-link:hover .social-link__icon{
  fill: #6838AB;
}

.footer-links {
  display: grid;
  justify-content: end;
  align-content:space-between;
  @media(min-width: 320px) and (max-width: 1200px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

}

.footer-link {
  margin-bottom: 10px;
  @media(min-width: 320px) and (max-width: 1200px) {
    margin-bottom: 25px;
  }

  &__img {
    max-width: 265px;
  }
}

.footer-copyright {
  display: grid;
  grid-gap: 15px;

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #8F8B96;

  }
}

.select-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.simple-select {
  width: 100px;

}
.select-item {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  grid-gap: 10px;
  font-weight: 600;
  font-size: 17px;
  color: #FFFFFF;
  img{
    width: 28px;
    height: 20px;
  }
}
.select2-dropdown{
  border-radius: 6px!important;
}
.select2-selection{
  border-radius: 6px;
}
.select2-container--default .select2-selection--single {
  background-color: transparent;
  border: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  width: 20px;
  height: 20px;
  top: 25%;
  transition: 0.2s;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.83337 8.33334L10 11.6667L14.1667 8.33334' stroke='white' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border: none;
  transform: rotate(180deg);
  transition: 0.2s;
}

.select2-search__field {
  display: none;
}

.select2-search--dropdown {
  padding: 0;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: #242228;
  color: white;
}
.select2-container--default .select2-results__option--selected {
  color: #FFFFFF;
  background: #353338;
}
.select2-results__option--selectable {
  background: #353338;
  color: #8F8B96;
}
.select2-dropdown{
  border-radius: 6px!important;
}
.select2-dropdown{
  background: #353338;
  border-radius: 6px;
  border: none;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.6));
}
.select2-container--open .select2-dropdown {
  top: 10px;
}
.select-2-container--default .select2-selection--single{
  border-radius: 6px;
}
