/*index-page*/
.main-bg {
  background-image: url("../img/backgrounds/bg-main.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  @media (min-width: 320px) and (max-width: 1023px) {
    background-image: url("../img/backgrounds/bg-main-mobile.jpg");
  }
}

.section-bg {
  background: #F0EEF2;
  width: 100%;
}

.main-wrapper {
  padding: 50px 0 0;
  display: grid;
  grid-template-columns: fit-content(620px) 1fr;
  position: relative;
  @media (min-width: 320px) and (max-width: 1023px) {
    grid-template-columns:  1fr;
  }
}

.main-block {

}

.logo-title {
  max-width: 625px;
  margin-bottom: 50px;
  @media (min-width: 320px) and (max-width: 1023px) {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__subtitle {
    margin-top: 10px;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    @media (min-width: 320px) and (max-width: 1023px) {
      font-size: 17px;
    }
  }

}

.logo-link {
  &__img {
    @media (min-width: 320px) and (max-width: 1023px) {
      width: 310px;
      height: 40px;
      left: 0;
    }
  }
}

.main-img {
  display: flex;
  justify-content: flex-end;

  &__img {
    position: relative;
    top: -30px;
    right: -20px;
    @media (min-width: 320px) and (max-width: 1200px) {
      width: 290px;
      height: 240px;
      top: 0;
      left: 0%;
    }
  }
}

.player-wrapper {
  position: relative;

  .song-item {
    background: #242228;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 6px 6px 0 0;
    padding: 20px 35px;
    @media (min-width: 320px) and (max-width: 1200px) {
      display: none;
    }

    &:hover {
      background: #242228;
    }

    .song-box {
      &__title {
        color: #FFFFFF;
      }
    }

    .song-item {
      &__time {
        color: #FFFFFF;
      }
    }
  }
}

/*search-section*/
.search-wrapper {
  background: #242228;
  padding: 15px;
  position: absolute;
  box-shadow: 0px 0px 20px rgba(183, 168, 199, 0.15);
  border-radius: 6px;
  bottom: -37px;
  width: 100%;
  display: flex;
  gap: 10px;
  @media (min-width: 320px) and (max-width: 1200px) {
    display: none;
  }

  &--mobile {
    @media (min-width: 320px) and (max-width: 1023px) {
      display: flex;
      position: relative;
      bottom: 0;
      padding: 0;
    }
  }

}

.search-links {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px;
  width: fit-content;
}

.search-link {
  background: linear-gradient(90.16deg, #5A2E98 0%, #4F268A 100%);
  border-radius: 4px;
  padding: 10px;
  font-weight: 600;
  font-size: 17px;
  width: max-content;
  color: #FFFFFF;

  &:hover {
    background: linear-gradient(90.16deg, #7346B1 0%, #63399F 100%);
    color: #FFFFFF;
  }
}

.search-form {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 15px 5px 35px;
  background: #FFFFFF;
  border-radius: 4px;
}

.search-box {
  position: relative;
  width: 100%;

  &__icon {
    width: 17px;
    height: 20px;
    position: absolute;
    stroke-width: 1.5;
    stroke: #8F8B96;
    top: 0px;
    left: -25px;
    fill: none;
  }

  &__input {
    width: 100%;
    max-width: 160px;
    font-weight: 400;
    font-size: 15px;
    color: #242228;

    &::placeholder {
      font-weight: 400;
      font-size: 15px;
      color: #8F8B96;
    }
  }
}

/*live-section*/
.live-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 125px;
  margin-bottom: 95px;
  @media (min-width: 320px) and (max-width: 1023px) {
    padding-top: 60px;
    margin-bottom: 60px;
  }

}

.live-block {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 600;
    font-size: 28px;
    color: #242228;
    margin-bottom: 40px;
    @media (min-width: 320px) and (max-width: 1023px) {
      font-size: 20px;
      margin-bottom: 30px;

    }
  }
}

.live-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  align-items: center;
  @media(min-width: 320px) and (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

.live-item {
  display: grid;
  grid-template-columns: 95px 1fr;
  background: #FFFFFF;
  align-items: center;
  justify-items: start;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(183, 168, 199, 0.15);
  border-radius: 6px;
  @media(min-width: 320px) and (max-width: 1200px) {
    padding: 20px;
  }

  &:hover {
    background: linear-gradient(90.16deg, #5A2E98 0%, #4F268A 100%);
    box-shadow: 0px 0px 20px rgba(183, 168, 199, 0.15);
  }

}

.live-item:hover .live-date > .live-date__number {
  color: #FFFFFF;
}

.live-item:hover .live-date > .live-date__month {
  color: #FFFFFF;
}

.live-item:hover .live-date {
  border-right: 2px solid #FFFFFF;
}

.live-date {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  border-right: 2px solid #5A2E98;
  padding-right: 25px;
  @media(min-width: 320px) and (max-width: 1200px) {
    padding: 20px;
  }

  &__number {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #242228;
    margin-bottom: 12px;
    @media(min-width: 320px) and (max-width: 1200px) {
      font-size: 32px;
    }
  }

  &__month {
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: #242228;
    @media(min-width: 320px) and (max-width: 1200px) {
      font-size: 15px;
    }
  }
}

.live-item:hover .live-info > .live-info__title {
  color: #FFFFFF;
}

.live-item:hover .live-info > .live-info__time {
  color: #FFFFFF;
}

.live-info {
  display: flex;
  flex-direction: column;
  padding-left: 25px;

  &__title {
    font-weight: 600;
    font-size: 20px;
    color: #242228;
    @media(min-width: 320px) and (max-width: 1200px) {
      font-size: 17px
    }
  }

  &__time {
    font-weight: 400;
    font-size: 17px;
    color: #242228;
    @media(min-width: 320px) and (max-width: 1200px) {
      font-size: 13px;
    }
  }

  &__author {
    font-weight: 400;
    font-size: 15px;
    color: #8F8B96;

  }
}

/*music-section*/
.music-wrapper {
  display: grid;
  grid-template-columns: 1fr 1.55fr;
  grid-gap: 30px;
  margin-bottom: 80px;

  &--order {
    grid-template-columns: 1.55fr 1fr;
    margin-top: 110px;
  }

  &--list {
    grid-template-columns: 1fr;
    margin-top: 110px;

    .order-grid {
      height: fit-content;
    }

    .order-item {
      max-width: 500px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media(min-width: 320px) and (max-width: 1200px) {
    grid-template-columns: 1fr;
    margin-bottom: 60px;
    grid-gap: 60px;
  }
}

.song-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 40px;
    color: #242228;
    @media(min-width: 320px) and (max-width: 1200px) {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }
}

.song-grid {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  height: 100%;
  filter: drop-shadow(0px 0px 20px rgba(183, 168, 199, 0.15));
  border-radius: 6px;
  padding: 30px 0;
  @media(min-width: 320px) and (max-width: 1200px) {
    background-color: transparent;
  }

  &--track {
    height: auto;
    padding: 10px 0;
    justify-content: space-between;

    .song-group {
      gap: 10px;
    }
  }

  &--mobile {
    display: none;
    @media(min-width: 320px) and (max-width: 1200px) {
      display: flex;
      background: transparent !important;
    }

    .song-item {
      flex-direction: column;
      padding: 20px 0 25px;
    }

    .song-box {
      max-width: 100%;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .song-group {
      display: flex;
      align-items: center;
      gap: 50px;
    }
  }

}

.song-dropdown {
  width: 100%;
  position: absolute;
  display: none;
  z-index: 4;

  &--show {
    display: block;

  }

  &__title {
    font-weight: 600;
    font-size: 17px;
    line-height: 130%;
    color: #FFFFFF;
    background: #1A171E;
    padding: 15px 30px;
  }
}

.song-list {
  background: #242228;
  border-radius: 0px 0px 6px 6px;

  &--modal {
    padding: 10px 0;

    .song-item__img {
      width: 50px;
      height: 50px;
    }

    .list-item {
      padding: 10px 30px;
    }
  }

  &--short {
    .song-item__img {
      width: 40px;
      height: 40px;
    }

    .list-item {
      padding: 5px 30px;
    }
  }

}

.song-vote {
  display: flex;
  align-items: center;
  gap: 15px;

  &__active {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #D4990C;
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: none;
    stroke: #B7B4BD;
    stroke-width: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &:hover {
      stroke: #ffffff;
    }

    &--minus {

    }

    &--hide {
      display: none;
    }
  }

  &__author {
    font-weight: 400;
    font-size: 11px;
    color: #FBD57C;

    &:hover {
      text-decoration-line: underline;
      color: #FBD57C;
    }

  }

  &__votes {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 5px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 13px;
    color: #8F8B96;
  }


}

.list-item {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__number {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-right: 10px;
  }

  .song-box__title {
    color: #FFFFFF;

  }
}

.song-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  @media(min-width: 320px) and (max-width: 1200px) {
    padding: 8px 0;
  }

  &:hover {
    background: #F0EEF2;
    cursor: pointer;
  }

  &--modal {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 15px;
    justify-content: space-between;
    padding: 0;
    cursor: auto;

    &:hover {
      background: transparent !important;
    }
  }

  &__img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
  }

  &__time {
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
  }
}

.song-box {
  display: flex;
  align-items: center;
  max-width: 240px;
  width: 100%;

  &__title {
    font-weight: 600;
    font-size: 17px;
    color: #242228;
    margin-bottom: 5px;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @media(min-width: 320px) and (max-width: 1200px) {
      font-size: 13px;
      max-width: 170px;
      color: #FFFFFF;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 15px;
    color: #8F8B96;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @media(min-width: 320px) and (max-width: 1200px) {
      font-size: 11px;
    }
  }
}

.song-group {
  display: flex;
  align-items: center;
  gap: 20px;
  @media(min-width: 320px) and (max-width: 1200px) {
    gap: 10px;
  }
}

.song-info {
  &__icon {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: #B7B4BD;
    stroke-width: 1;
  }

}

.song-info:hover .song-info__icon {
  stroke: #242228;
}

.song-like {
  &__icon {
    width: 24px;
    height: 24px;
    stroke-width: 1.2;

    &--empty {
      fill: none;
      stroke: #B7B4BD;
    }

    &--fill {
      fill: #C62C5A;
      stroke: #C62C5A;
    }
  }
}

.song-like:hover .song-like__icon--empty {
  stroke: #C62C5A;
}

.hide {
  display: none;
}

.song-start {
  &__icon {
    width: 24px;
    height: 24px;

    &--start {
      fill: none;
      stroke: #B7B4BD;
      stroke-width: 1.2;
    }

    &--stop {
      stroke: #242228;
      fill: #242228;
    }
  }

}

.song-start:hover .song-start__icon {
  stroke: #242228;
}

.radio-container {
  display: flex;
  flex-direction: column;

}

.radio-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  @media(min-width: 320px) and (max-width: 1023px) {
    margin-bottom: 30px;
  }

  &__title {
    font-weight: 600;
    font-size: 28px;
    color: #242228;
    @media(min-width: 320px) and (max-width: 1023px) {
      font-size: 20px;
      margin-bottom: 0;
    }
  }

}

.radio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  @media(min-width: 320px) and (max-width: 1200px) {
    grid-template-columns: 1fr;
  }
}

.radio-grid > .radio-item:first-child {
  grid-column: 1 / span 2;
  @media(min-width: 320px) and (max-width: 1200px) {
    grid-column: 1 / 1;
  }
}

.radio-grid > .radio-item > .radio-item__img:first-child {
  max-height: 400px;
  @media(min-width: 320px) and (max-width: 1200px) {
    max-height: auto;
  }
}

.radio-link {
  display: flex;
  align-items: center;
  @media(min-width: 320px) and (max-width: 1200px) {
    display: none
  }

  &--mobile {
    display: none;
    @media(min-width: 320px) and (max-width: 1200px) {
      display: flex;
      margin-top: 20px;
    }
  }

  &--dropdown {
    padding: 10px 30px 20px 30px;

    .radio-link__text {
      font-weight: 400;
      font-size: 15px;
      color: #FFFFFF;

    }

    .radio-link__icon {
      width: 24px;
      height: 24px;
      display: block;
      fill: none;
      stroke: #FFFFFF;
      margin-top: 2px;
      margin-left: 5px;
      stroke-width: 1.2;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 17px;
    color: #242228;
  }

  &__icon {
    width: 24px;
    height: 24px;
    display: block;
    fill: none;
    stroke: #242228;
    margin-top: 2px;
    margin-left: 5px;
    stroke-width: 1.2;
  }
}

.radio-link:hover > .radio-link__text {
  color: #6838AB;
}

.radio-link:hover > .radio-link__icon {
  stroke: #6838AB;
}

.radio-item {
  position: relative;
  overflow: hidden;
  border-radius: 6px;

  &::after {
    position: absolute;
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.5) 52.6%, rgba(0, 0, 0, 0.8) 100%);
    width: 100%;
    height: 200px;
    bottom: 0;
    z-index: 1;
    border-radius: 6px;
  }

  &:hover {
    border-radius: 6px;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    transition-duration: 0.5s;
    border-radius: 6px;

  }
}

.radio-item:hover .radio-item__img {
  transform: scale(1.2);

}

.date-block {
  position: absolute;
  top: 0;
  left: 30px;
  background: linear-gradient(90.16deg, #5A2E98 0%, #4F268A 100%);
  border-radius: 0px 0px 4px 4px;
  display: flex;
  padding: 11.5px;
  flex-direction: column;
  align-items: center;

  &__number {
    font-weight: 600;
    font-size: 17px;
    color: #FFFFFF;
    margin-bottom: 5px;
  }

  &__month {
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
  }
}

.radio-info {
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 30px;
  z-index: 2;

  &__title {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
}

.radio-item:hover .radio-info > .radio-box > .radio-bg {
  background-color: #ffffff;
}

.radio-item:hover .radio-info > .radio-box > .radio-bg > .radio-icon {
  stroke: #242228;
}

.radio-box {
  display: grid;
  grid-template-columns: 1fr 28px;
  grid-gap: 20px;

  &__subtitle {
    font-weight: 400;
    font-size: 15px;
    color: #B7B4BD;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.radio-bg {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFFFFF;

}

.radio-icon {
  width: 24px;
  height: 24px;
  fill: none;
  stroke-width: 1.2;
  stroke: white;
}

.radio-new {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 7px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: linear-gradient(90.16deg, #5A2E98 0%, #4F268A 100%);
  border-radius: 4px;

}

/*updates-section*/
.updates-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  @media(min-width: 320px) and (max-width: 1200px) {
    margin-bottom: 60px;
  }

  &__title {
    font-weight: 600;
    font-size: 28px;
    color: #242228;
    margin-bottom: 40px;
    @media(min-width: 320px) and (max-width: 1200px) {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }
}

.updates-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  @media(min-width: 320px) and (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 10px;

  }
}

.updates-item {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 600;
    font-size: 17px;
    line-height: 130%;
    color: #242228;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 45px;
    height: 100%;
    @media(min-width: 320px) and (max-width: 1200px) {
      font-size: 13px;
      max-height: 35px;
      margin-bottom: 5px;

    }
  }

  &__img {
    object-fit: cover;
    width: 100%;
    max-height: 330px;
    height: 100%;
    overflow: hidden;
    border-radius: 6px;

    transition-duration: 0.5s;
    /* Safari & Google Chrome */
    -webkit-transition-duration: 0.5s;
    /* Mozilla Firefox */
    -moz-transition-duration: 0.5s;
    /* Opera */
    -o-transition-duration: 0.5s;
    /* IE 9 */
    -ms-transition-duration: 0.5s;
    @media(min-width: 320px) and (max-width: 1200px) {
      max-height: 220px;

    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #8F8B96;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 45px;
    height: 100%;
    @media(min-width: 320px) and (max-width: 1200px) {
      font-size: 11px;
      max-height: 30px;

    }
  }
}

.updates-group {
  overflow: hidden;
  max-height: 330px;
  height: 100%;
  margin-bottom: 15px;
}

.updates-item:hover > .updates-item__title {
  color: #6838AB;
}

.updates-item:hover > .updates-group .updates-item__img {
  transform: scale(1.2);
  /* Safari & Google Chrome */
  -webkit-transform: scale(1.2);
  /* Mozilla Firefox */
  -moz-transform: scale(1.2);
  /* Opera */
  -o-transform: scale(1.2);
  /* IE 9 */
  -ms-transform: scale(1.2);
  cursor: pointer;
  border-radius: 6px;
}

/*top-section*/
.top-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  @media(min-width: 320px) and (max-width: 1200px) {
    margin-bottom: 60px;
  }

  &__title {
    font-weight: 600;
    font-size: 28px;
    color: #242228;
    margin-bottom: 40px;
    @media(min-width: 320px) and (max-width: 1200px) {
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 130%;
      text-align: center;
    }
  }
}

.top-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  width: 100%;
  @media(min-width: 320px) and (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

.top-item {
  background: #FFFFFF;
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(183, 168, 199, 0.15);
  border-radius: 6px;
  gap: 5px;
  @media(min-width: 320px) and (max-width: 1200px) {
    padding: 20px;
  }

  &__number {
    font-weight: 500;
    font-size: 32px;
    color: #242228;
    @media(min-width: 320px) and (max-width: 1200px) {
      font-size: 24px;

    }
  }

  &__text {
    font-weight: 400;
    font-size: 17px;
    color: #8F8B96;
    @media(min-width: 320px) and (max-width: 1200px) {
      font-size: 13px;

    }

  }
}

/*partners-section*/
.partners-container {
  display: grid;
  grid-template-columns: 1.54fr 1fr;
  grid-gap: 30px;
  margin-bottom: 80px;
  @media(min-width: 320px) and (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-gap: 60px;
    margin-bottom: 60px;
  }
}

.partners-wrapper {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 600;
    font-size: 28px;
    color: #242228;
    margin-bottom: 40px;
    @media(min-width: 320px) and (max-width: 1200px) {
      margin-bottom: 30px;
      font-size: 20px;
    }
  }
}

.partners-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  @media(min-width: 320px) and (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

.partners-item {
  background: #FFFFFF;
  display: grid;
  grid-template-rows: 113px auto;
  align-items: center;
  justify-items: center;
  box-shadow: 0px 0px 20px rgba(183, 168, 199, 0.15);
  border-radius: 6px;
  padding: 30px;
  @media(min-width: 320px) and (max-width: 1200px) {
    padding: 20px;
  }

  &__img {
    object-fit: cover;
    @media(min-width: 320px) and (max-width: 1200px) {
      width: 100%;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 17px;
    color: #8F8B96;
    @media(min-width: 320px) and (max-width: 1200px) {
      font-size: 13px;
    }
  }
}

.playlist-wrapper {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 600;
    font-size: 28px;
    color: #242228;
    margin-bottom: 40px;
    @media(min-width: 320px) and (max-width: 1200px) {
      margin-bottom: 30px;
      font-size: 20px;
    }
  }

}

.playlist-grid {
  display: grid;
  height: 100%;

}

.playlist-item {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 40px;
  box-shadow: 0px 0px 20px rgba(183, 168, 199, 0.15);
  border-radius: 6px;
  position: relative;
  @media(min-width: 320px) and (max-width: 1200px) {
    padding: 35px 20px;
  }

  &::after {
    content: '';
    position: absolute;
    background-image: url("../img/partners/partners-4.png");
    width: 125px;
    height: 150px;
    left: 0;
    @media(min-width: 320px) and (max-width: 1200px) {
      width: 80px;
      height: 80px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    max-width: 250px;
    color: #8F8B96;
    @media(min-width: 320px) and (max-width: 1200px) {
      max-width: 175px;
      font-size: 13px;
    }
  }
}

.playlist-item:hover .playlist-bg {
  background: #242228;
}

.playlist-item:hover .playlist-icon {
  stroke: #ffffff;
}

.playlist-bg {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #242228;
  margin-left: 20px;
}

.playlist-icon {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: #242228;
  stroke-width: 1.2;
}

/*order-section*/
.order-wrapper {
  display: flex;
  flex-direction: column;

}

.order-grid {
  background: #FFFFFF;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(183, 168, 199, 0.15);
  border-radius: 6px;
  height: 100%;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    background-image: url("../img/backgrounds/order-girl.png");
    width: 400px;
    height: 650px;
    bottom: 0;
    right: -30px;
  }

}

.order-item {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-bottom: 50px;

  &__title {
    font-weight: 600;
    font-size: 24px;
    color: #242228;
    margin-bottom: 20px;
  }

  &__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    color: #8F8B96;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__span {
    color: #242228;
    font-weight: 700;
  }
}

.btn-close {
  width: 20px;
  height: 20px;
  background-size: cover;
  padding: 0 !important;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8334 4.16676L4.16675 15.8334M15.8334 15.8333L4.16675 4.16669' stroke='%238F8B96' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

}

.info-btn {
  padding: 2px 5px;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;

  &--orange {
    background: #D5990C;
  }

  &--violet {
    background: linear-gradient(90.16deg, #5A2E98 0%, #4F268A 100%);
  }

  &--green {
    background: #46B036;
  }

  &--blue {
    background: #0C68D4;
  }
}

/*player-mobile*/
.main-bg-mobile {
  background: #242228;
}
