/*reset-style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

img {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Nunito", san-serif, serif;
}

body {
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

nav li {
  list-style: none;
}

ul li {
  list-style: none;
}

dl, ol, ul {
  margin-bottom: 0;
  padding-left: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

p {
  margin-bottom: 0;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-SemiBold.eot");
  src: url("../fonts/Nunito-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-SemiBold.woff2") format("woff2"), url("../fonts/Nunito-SemiBold.woff") format("woff"), url("../fonts/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-BoldItalic.eot");
  src: url("../fonts/Nunito-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-BoldItalic.woff2") format("woff2"), url("../fonts/Nunito-BoldItalic.woff") format("woff"), url("../fonts/Nunito-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-ExtraLight.eot");
  src: url("../fonts/Nunito-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-ExtraLight.woff2") format("woff2"), url("../fonts/Nunito-ExtraLight.woff") format("woff"), url("../fonts/Nunito-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Italic.eot");
  src: url("../fonts/Nunito-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Italic.woff2") format("woff2"), url("../fonts/Nunito-Italic.woff") format("woff"), url("../fonts/Nunito-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Black.eot");
  src: url("../fonts/Nunito-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Black.woff2") format("woff2"), url("../fonts/Nunito-Black.woff") format("woff"), url("../fonts/Nunito-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Light.eot");
  src: url("../fonts/Nunito-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Light.woff2") format("woff2"), url("../fonts/Nunito-Light.woff") format("woff"), url("../fonts/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.eot");
  src: url("../fonts/Nunito-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunito-Regular.woff") format("woff"), url("../fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-LightItalic.eot");
  src: url("../fonts/Nunito-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-LightItalic.woff2") format("woff2"), url("../fonts/Nunito-LightItalic.woff") format("woff"), url("../fonts/Nunito-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-ExtraLightItalic.eot");
  src: url("../fonts/Nunito-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Nunito-ExtraLightItalic.woff") format("woff"), url("../fonts/Nunito-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-MediumItalic.eot");
  src: url("../fonts/Nunito-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-MediumItalic.woff2") format("woff2"), url("../fonts/Nunito-MediumItalic.woff") format("woff"), url("../fonts/Nunito-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-ExtraBoldItalic.eot");
  src: url("../fonts/Nunito-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Nunito-ExtraBoldItalic.woff") format("woff"), url("../fonts/Nunito-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Medium.eot");
  src: url("../fonts/Nunito-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Medium.woff2") format("woff2"), url("../fonts/Nunito-Medium.woff") format("woff"), url("../fonts/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Bold.eot");
  src: url("../fonts/Nunito-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito-Bold.woff") format("woff"), url("../fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-BlackItalic.eot");
  src: url("../fonts/Nunito-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-BlackItalic.woff2") format("woff2"), url("../fonts/Nunito-BlackItalic.woff") format("woff"), url("../fonts/Nunito-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-ExtraBold.eot");
  src: url("../fonts/Nunito-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-ExtraBold.woff2") format("woff2"), url("../fonts/Nunito-ExtraBold.woff") format("woff"), url("../fonts/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-SemiBoldItalic.eot");
  src: url("../fonts/Nunito-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Nunito-SemiBoldItalic.woff") format("woff"), url("../fonts/Nunito-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
/*index-page*/
.main-bg {
  background-image: url("../img/backgrounds/bg-main.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-bg {
  background: #F0EEF2;
  width: 100%;
}

.main-wrapper {
  padding: 50px 0 0;
  display: grid;
  grid-template-columns: fit-content(620px) 1fr;
}

.logo-title {
  max-width: 625px;
}
.logo-title__subtitle {
  margin-top: 10px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #FFFFFF;
}

.main-img {
  display: flex;
  justify-content: flex-end;
}
/*live-section*/
.live-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 80px;
  padding-top: 80px;
}

.live-block {
  display: flex;
  flex-direction: column;
}
.live-block__title {
  font-weight: 600;
  font-size: 28px;
  color: #242228;
  margin-bottom: 40px;
}

.live-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  align-items: center;
}

.live-item {
  display: grid;
  grid-template-columns: 95px 1fr;
  background: #FFFFFF;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(183, 168, 199, 0.15);
  border-radius: 6px;
}
.live-item:hover {
  background: linear-gradient(90.16deg, #5A2E98 0%, #4F268A 100%);
  box-shadow: 0px 0px 20px rgba(183, 168, 199, 0.15);
}

.live-item:hover .life-date__number {
  color: #FFFFFF;
}

.live-date {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid #5A2E98;
  padding-right: 25px;
}
.live-date__number {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  color: #242228;
}
.live-date__month {
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  color: #242228;
}

.live-info {
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding-left: 25px;
}
.live-info__title {
  font-weight: 600;
  font-size: 20px;
  color: #242228;
}
.live-info__time {
  font-weight: 400;
  font-size: 17px;
  color: #242228;
}
.live-info__author {
  font-weight: 400;
  font-size: 15px;
  color: #8F8B96;
}

/*music-section*/
.music-wrapper {
  display: grid;
  grid-template-columns: 1fr 1.55fr;
  grid-gap: 30px;
  margin-bottom: 80px;
}

.song-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.song-wrapper__title {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 40px;
  color: #242228;
}

.song-grid {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  height: 100%;
  filter: drop-shadow(0px 0px 20px rgba(183, 168, 199, 0.15));
  border-radius: 6px;
  grid-gap: 20px;
  padding: 30px 25px 30px 30px;
}

.song-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.song-item__img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}
.song-item__time {
  font-weight: 400;
  font-size: 13px;
  color: #242228;
}

.song-box {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  width: 100%;
}
.song-box__title {
  font-weight: 600;
  font-size: 17px;
  color: #242228;
  margin-bottom: 5px;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.song-box__subtitle {
  font-weight: 400;
  font-size: 15px;
  color: #8F8B96;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.song-like__icon {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: #8F8B96;
  stroke-width: 1.2;
}
.song-like__icon--fill {
  stroke: #C62C5A;
  fill: #C62C5A;
}
.song-like__icon--hide {
  display: none;
}

.song-like:hover .song-like__icon {
  stroke: #C62C5A;
}

.song-start__icon {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: #8F8B96;
  stroke-width: 1.2;
}
.song-start__icon--stop {
  stroke: #242228;
  fill: #242228;
}
.song-start__icon--hide {
  display: none;
}

.song-start:hover .song-start__icon {
  stroke: #242228;
}

.radio-container {
  display: flex;
  flex-direction: column;
}

.radio-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.radio-wrapper__title {
  font-weight: 600;
  font-size: 28px;
  color: #242228;
  margin-bottom: 0;
}

.radio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.radio-grid > .radio-item:first-child {
  grid-column: 1/span 2;
}

.radio-grid > .radio-item > .radio-item__img:first-child {
  max-height: 400px;
}

.radio-link {
  display: flex;
  align-items: center;
}
.radio-link__text {
  font-weight: 400;
  font-size: 17px;
  color: #242228;
}
.radio-link__icon {
  width: 24px;
  height: 24px;
  display: block;
  fill: none;
  stroke: #242228;
  margin-top: 2px;
  margin-left: 5px;
  stroke-width: 1.2;
}

.radio-link:hover > .radio-link__text {
  color: #6838AB;
}

.radio-link:hover > .radio-link__icon {
  stroke: #6838AB;
}

.radio-item {
  position: relative;
}
.radio-item__img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.radio-item__img::after {
  position: absolute;
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.5) 52.6%, rgba(0, 0, 0, 0.8) 100%);
  width: 100%;
  height: 200px;
}

.date-block {
  position: absolute;
  top: 0;
  left: 30px;
  background: linear-gradient(90.16deg, #5A2E98 0%, #4F268A 100%);
  border-radius: 0px 0px 4px 4px;
  display: flex;
  padding: 11.5px;
  flex-direction: column;
  align-items: center;
}
.date-block__number {
  font-weight: 600;
  font-size: 17px;
  color: #FFFFFF;
  margin-bottom: 5px;
}
.date-block__month {
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
}

.radio-info {
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 30px;
}
.radio-info__title {
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.radio-box {
  display: grid;
  grid-template-columns: 1fr 28px;
  grid-gap: 20px;
}
.radio-box__subtitle {
  font-weight: 400;
  font-size: 15px;
  color: #B7B4BD;
}

.radio-bg {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFFFFF;
}

.radio-icon {
  width: 24px;
  height: 24px;
  fill: none;
  stroke-width: 1.2;
  stroke: white;
}

/*updates-section*/
.updates-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
.updates-wrapper__title {
  font-weight: 600;
  font-size: 28px;
  color: #242228;
  margin-bottom: 40px;
}

.updates-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}

.updates-item {
  display: flex;
  flex-direction: column;
}
.updates-item__title {
  font-weight: 600;
  font-size: 17px;
  line-height: 130%;
  color: #242228;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 45px;
  height: 100%;
}
.updates-item__img {
  object-fit: cover;
  width: 100%;
  max-height: 330px;
  height: 100%;
  border-radius: 6px;
  margin-bottom: 15px;
}
.updates-item__subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #8F8B96;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 45px;
  height: 100%;
}

.updates-item:hover > .updates-item__title {
  color: #6838AB;
}

/*top-section*/
.top-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.top-wrapper__title {
  font-weight: 600;
  font-size: 28px;
  color: #242228;
  margin-bottom: 40px;
}

.top-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  width: 100%;
}

.top-item {
  background: #FFFFFF;
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(183, 168, 199, 0.15);
  border-radius: 6px;
  gap: 5px;
}
.top-item__number {
  font-weight: 500;
  font-size: 32px;
  color: #242228;
}
.top-item__text {
  font-weight: 400;
  font-size: 17px;
  color: #8F8B96;
}

/*partners-section*/
.partners-container {
  display: grid;
  grid-template-columns: 1.54fr 1fr;
  grid-gap: 30px;
  margin-bottom: 80px;
}

.partners-wrapper {
  display: flex;
  flex-direction: column;
}
.partners-wrapper__title {
  font-weight: 600;
  font-size: 28px;
  color: #242228;
  margin-bottom: 40px;
}

.partners-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.partners-item {
  background: #FFFFFF;
  display: grid;
  grid-template-rows: 113px auto;
  align-items: center;
  justify-items: center;
  box-shadow: 0px 0px 20px rgba(183, 168, 199, 0.15);
  border-radius: 6px;
  padding: 30px;
}
.partners-item__img {
  object-fit: cover;
}
.partners-item__text {
  font-weight: 400;
  font-size: 17px;
  color: #8F8B96;
}

.playlist-wrapper {
  display: flex;
  flex-direction: column;
}
.playlist-wrapper__title {
  font-weight: 600;
  font-size: 28px;
  color: #242228;
  margin-bottom: 40px;
}

.playlist-grid {
  display: grid;
  height: 100%;
}

.playlist-item {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 40px;
  box-shadow: 0px 0px 20px rgba(183, 168, 199, 0.15);
  border-radius: 6px;
  position: relative;
}
.playlist-item::after {
  content: "";
  position: absolute;
  background-image: url("../img/partners/partners-4.png");
  width: 125px;
  height: 150px;
  left: 0;
}
.playlist-item__text {
  font-weight: 400;
  font-size: 15px;
  max-width: 250px;
  color: #8F8B96;
}

.playlist-item:hover .playlist-bg {
  background: #242228;
}

.playlist-item:hover .playlist-icon {
  stroke: #ffffff;
}

.playlist-bg {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #242228;
  margin-left: 20px;
}

.playlist-icon {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: #242228;
  stroke-width: 1.2;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1290px;
  }
}
/*header-style*/
.header-bg {
  padding: 15px 0;
  background: linear-gradient(90.16deg, #5A2E98 0%, #4F268A 100%);
  width: 100%;
}

.header-login__btn {
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  padding: 11.5px 53.5px;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #FFFFFF;
}
.header-login__btn:hover {
  background: #FFFFFF;
  color: #242228;
}

.header-menu {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}

.nav-menu {
  display: grid;
  grid-gap: 30px;
  align-items: center;
  grid-auto-flow: column;
  justify-content: center;
}

.nav-link {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-gap: 10px;
  padding: 0;
  align-items: center;
}
.nav-link__icon {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: white;
  stroke-width: 2px;
}
.nav-link__text {
  font-weight: 400;
  font-size: 17px;
  color: #FFFFFF;
}

.header-listeners {
  display: flex;
  justify-content: flex-end;
}

.listeners-block {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-gap: 10px;
  padding: 0;
  align-items: center;
}
.listeners-block__icon {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: white;
  stroke-width: 2px;
}
.listeners-block__text {
  font-weight: 400;
  font-size: 17px;
  color: #FFFFFF;
}

/*footer-style*/
.footer-block {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
}
.footer-block__title {
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #8F8B96;
}
.footer-block__span {
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #FFFFFF;
}

.footer-widgets {
  background: linear-gradient(90.16deg, #5A2E98 0%, #4F268A 100%);
  padding: 20px 0;
}

.widgets-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.widgets-block {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
}

.footer-info {
  background-color: #242228;
  padding: 40px 0;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: 25px;
}

.social-link {
  width: fit-content;
}
.social-link__icon {
  display: flex;
  width: 28px;
  height: 28px;
  fill: white;
}

.footer-links {
  display: grid;
  justify-content: end;
  align-content: end;
}

.footer-link {
  margin-bottom: 10px;
}
.footer-link__img {
  max-width: 265px;
}

.footer-copyright {
  display: flex;
  gap: 15px;
}
.footer-copyright__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #8F8B96;
}

/*# sourceMappingURL=main.css.map */
